.ant-table-thead > tr > th {
  color: white;
  background: #e79d9d !important;
}

.ant-table-tbody > tr > th {
  color: white;
  background: #e79d9d !important;
}

.column-sm {
  width: 5rem;
}

.column-md {
  width: 10rem;
}

.column-lg {
  width: 20rem;
}

.column-name {
  color: #5499A0
}

.column-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}

.column-highlighted {
  display: inline-block;
  vertical-align: middle;
}
